IntroScreen {
    align: center middle;
}

#logo {
    width: 100%;
    content-align: center middle;
    margin-bottom: 2;
}

#button-container {
    width: 100%;
    height: auto;
    align: center middle;
}
Button{
    width: 25;
}