#grid-container {
    layout: horizontal;
    height: 100%;
    width: 100%;
}

.modules-pane {
    width: 1fr;
    height: 100%;
}

#actions-pane {
    width: 24;
    height: 100%;
    margin-left: 2;
    align: center middle;
}
SelectionList {
    width: 100%;
    height: 1fr;
    border: round $primary;
}

Markdown {
    border: round $primary;
}

TabbedContent {
    height: 1fr;
}

TabPane {
    height: 1fr;
}

Header{
    margin-bottom:1
}
Footer{
    margin-top: 1
}