MainScreen {
    align: center middle;
}
SelectionList{
    row-span: 2;
    width:50;
    align: center middle;
}
Vertical{
    align: center middle;

}
Header{
    margin-bottom:1
}
Footer{
    margin-top: 1
}